<!--
  Generated template for the ScanSetupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>scan-setup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 *ngIf="(profileListRef$ | async)?.length==0">
    Je hebt nog geen profiel(en) aangemaakt. Klik rechtsboven op de + om te beginnen!
  </h1>
  <ng-container *ngFor="let profile of profileListRef$ | async">
    <ion-card detail-push navPush="ScanPage" [navParams]="{profile: profile}">
      <ion-item>
        <p>{{profile.firstname}} {{profile.lastname}}</p>
        <ion-icon item-end name="play"></ion-icon>
      </ion-item>
    </ion-card>
  </ng-container>
</ion-content>

<ion-footer>
  <button ion-button block clear (click)="navigateToRootHomePage()"><ion-icon name="home"></ion-icon></button>
</ion-footer>