<ion-header>
  <ion-navbar color="primary">
    <ion-title>Scan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <!-- <ion-row>
      <ion-col col-12>
        <h2>Test Versie</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ng-container *ngFor="let sensor of sensorListTest$ | async; let i=index;">
          <ion-col col-3 *ngIf="i<=3">
            <div *ngIf="sensor.pressure <= 145" style="background-color:#00FF00"><p>{{sensor.pressure}}</p></div>
            <div *ngIf="sensor.pressure >= 146 && sensor.pressure <= 292" style="background-color:#55FF00"><p>{{sensor.pressure}}</p></div>
            <div *ngIf="sensor.pressure >= 293 && sensor.pressure <= 438" style="background-color:#AAFF00"><p>{{sensor.pressure}}</p></div>
            <div *ngIf="sensor.pressure >= 439 && sensor.pressure <= 584" style="background-color:#FFFF00"><p>{{sensor.pressure}}</p></div>
            <div *ngIf="sensor.pressure >= 585 && sensor.pressure <= 730" style="background-color:#FFAA00"><p>{{sensor.pressure}}</p></div>
            <div *ngIf="sensor.pressure >= 731 && sensor.pressure <= 871" style="background-color:#FF5500"><p>{{sensor.pressure}}</p></div>
            <div *ngIf="sensor.pressure >= 872" style="background-color:#FF0000"><p>{{sensor.pressure}}</p></div>
          </ion-col>
      </ng-container>
    </ion-row>
    <ion-row>
      <ng-container *ngFor="let sensor of sensorListTest$ | async; let i=index;">
          <ion-col col-3 *ngIf="i<=7 && i>=4">
            <ng-container *ngIf="sensor.pressure <= 145"><div style="background-color:#00FF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 146 && sensor.pressure <= 292"><div style="background-color:#55FF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 293 && sensor.pressure <= 438"><div style="background-color:#AAFF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 439 && sensor.pressure <= 584"><div style="background-color:#FFFF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 585 && sensor.pressure <= 730"><div style="background-color:#FFAA00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 731 && sensor.pressure <= 871"><div style="background-color:#FF5500"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 872"><div style="background-color:#FF0000"><p>{{sensor.pressure}}</div></ng-container>
          </ion-col>
      </ng-container>
    </ion-row>
    <ion-row>
      <ng-container *ngFor="let sensor of sensorListTest$ | async; let i=index;">
          <ion-col col-3 *ngIf="i<=11 && i>=8">
            <ng-container *ngIf="sensor.pressure <= 145"><div style="background-color:#00FF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 146 && sensor.pressure <= 292"><div style="background-color:#55FF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 293 && sensor.pressure <= 438"><div style="background-color:#AAFF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 439 && sensor.pressure <= 584"><div style="background-color:#FFFF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 585 && sensor.pressure <= 730"><div style="background-color:#FFAA00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 731 && sensor.pressure <= 871"><div style="background-color:#FF5500"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 872"><div style="background-color:#FF0000"><p>{{sensor.pressure}}</div></ng-container>
          </ion-col>
      </ng-container>
    </ion-row>
    <ion-row>
      <ng-container *ngFor="let sensor of sensorListTest$ | async; let i=index;">
          <ion-col col-3 *ngIf="i<=15 && i>=12">
            <ng-container *ngIf="sensor.pressure <= 145"><div style="background-color:#00FF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 146 && sensor.pressure <= 292"><div style="background-color:#55FF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 293 && sensor.pressure <= 438"><div style="background-color:#AAFF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 439 && sensor.pressure <= 584"><div style="background-color:#FFFF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 585 && sensor.pressure <= 730"><div style="background-color:#FFAA00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 731 && sensor.pressure <= 871"><div style="background-color:#FF5500"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 872"><div style="background-color:#FF0000"><p>{{sensor.pressure}}</div></ng-container>
          </ion-col>
      </ng-container>
    </ion-row>
    <ion-row>
      <ng-container *ngFor="let sensor of sensorListTest$ | async; let i=index;">
          <ion-col col-3 *ngIf="i<=19 && i>=16">
            <ng-container *ngIf="sensor.pressure <= 145"><div style="background-color:#00FF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 146 && sensor.pressure <= 292"><div style="background-color:#55FF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 293 && sensor.pressure <= 438"><div style="background-color:#AAFF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 439 && sensor.pressure <= 584"><div style="background-color:#FFFF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 585 && sensor.pressure <= 730"><div style="background-color:#FFAA00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 731 && sensor.pressure <= 871"><div style="background-color:#FF5500"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 872"><div style="background-color:#FF0000"><p>{{sensor.pressure}}</div></ng-container>
          </ion-col>
      </ng-container>
    </ion-row>
    <ion-row>
      <ng-container *ngFor="let sensor of sensorListTest$ | async; let i=index;">
          <ion-col col-3 *ngIf="i<=23 && i>=20">
            <ng-container *ngIf="sensor.pressure <= 145"><div style="background-color:#00FF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 146 && sensor.pressure <= 292"><div style="background-color:#55FF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 293 && sensor.pressure <= 438"><div style="background-color:#AAFF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 439 && sensor.pressure <= 584"><div style="background-color:#FFFF00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 585 && sensor.pressure <= 730"><div style="background-color:#FFAA00"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 731 && sensor.pressure <= 871"><div style="background-color:#FF5500"><p>{{sensor.pressure}}</div></ng-container>
            <ng-container *ngIf="sensor.pressure >= 872"><div style="background-color:#FF0000"><p>{{sensor.pressure}}</div></ng-container>
          </ion-col>
      </ng-container>
    </ion-row> -->
<!--SPLIT-->
    <ng-container *ngIf="(sensorList$ | async)?.length==0">
      <h2>
        <b>Geen scan data gevonden voor profiel:</b><br><br>{{profile.firstname}} {{profile.lastname}}
      </h2>
      <button ion-button block clear (click)="synchronizeStart(profile.key)">Synchronize Now</button>
    </ng-container>
    <ng-container *ngIf="(sensorList$ | async)?.length!=0 && (sensorList$ | async)?.length!=24">
      <h2>Loading Sensors...</h2>
      <h3>{{(sensorList$ | async)?.length * 4.3}}%</h3>
    </ng-container>
    <ng-container *ngIf="(sensorList$ | async)?.length!=0">
      <ion-row>
        <ion-col col-12>
          <h2>Scan Data</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ng-container *ngFor="let sensor of sensorList$ | async; let i=index;">
            <ion-col col-3 *ngIf="i<=3 && i>=0">
              <div *ngIf="sensor.pressure <= 145" style="background-color:#00FF00"><p>{{sensor.pressure}}</p></div>
              <div *ngIf="sensor.pressure >= 146 && sensor.pressure <= 292" style="background-color:#55FF00"><p>{{sensor.pressure}}</p></div>
              <div *ngIf="sensor.pressure >= 293 && sensor.pressure <= 438" style="background-color:#AAFF00"><p>{{sensor.pressure}}</p></div>
              <div *ngIf="sensor.pressure >= 439 && sensor.pressure <= 584" style="background-color:#FFFF00"><p>{{sensor.pressure}}</p></div>
              <div *ngIf="sensor.pressure >= 585 && sensor.pressure <= 730" style="background-color:#FFAA00"><p>{{sensor.pressure}}</p></div>
              <div *ngIf="sensor.pressure >= 731 && sensor.pressure <= 871" style="background-color:#FF5500"><p>{{sensor.pressure}}</p></div>
              <div *ngIf="sensor.pressure >= 872" style="background-color:#FF0000"><p>{{sensor.pressure}}</p></div>
            </ion-col>
        </ng-container>
      </ion-row>
      <ion-row>
        <ng-container *ngFor="let sensor of sensorList$ | async; let i=index;">
            <ion-col col-3 *ngIf="i<=7 && i>=4">
              <ng-container *ngIf="sensor.pressure <= 145"><div style="background-color:#00FF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 146 && sensor.pressure <= 292"><div style="background-color:#55FF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 293 && sensor.pressure <= 438"><div style="background-color:#AAFF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 439 && sensor.pressure <= 584"><div style="background-color:#FFFF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 585 && sensor.pressure <= 730"><div style="background-color:#FFAA00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 731 && sensor.pressure <= 871"><div style="background-color:#FF5500"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 872"><div style="background-color:#FF0000"><p>{{sensor.pressure}}</div></ng-container>
            </ion-col>
        </ng-container>
      </ion-row>
      <ion-row>
        <ng-container *ngFor="let sensor of sensorList$ | async; let i=index;">
            <ion-col col-3 *ngIf="i<=11 && i>=8">
              <ng-container *ngIf="sensor.pressure <= 145"><div style="background-color:#00FF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 146 && sensor.pressure <= 292"><div style="background-color:#55FF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 293 && sensor.pressure <= 438"><div style="background-color:#AAFF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 439 && sensor.pressure <= 584"><div style="background-color:#FFFF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 585 && sensor.pressure <= 730"><div style="background-color:#FFAA00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 731 && sensor.pressure <= 871"><div style="background-color:#FF5500"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 872"><div style="background-color:#FF0000"><p>{{sensor.pressure}}</div></ng-container>
            </ion-col>
        </ng-container>
      </ion-row>
      <ion-row>
        <ng-container *ngFor="let sensor of sensorList$ | async; let i=index;">
            <ion-col col-3 *ngIf="i<=15 && i>=12">
              <ng-container *ngIf="sensor.pressure <= 145"><div style="background-color:#00FF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 146 && sensor.pressure <= 292"><div style="background-color:#55FF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 293 && sensor.pressure <= 438"><div style="background-color:#AAFF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 439 && sensor.pressure <= 584"><div style="background-color:#FFFF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 585 && sensor.pressure <= 730"><div style="background-color:#FFAA00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 731 && sensor.pressure <= 871"><div style="background-color:#FF5500"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 872"><div style="background-color:#FF0000"><p>{{sensor.pressure}}</div></ng-container>
            </ion-col>
        </ng-container>
      </ion-row>
      <ion-row>
        <ng-container *ngFor="let sensor of sensorList$ | async; let i=index;">
            <ion-col col-3 *ngIf="i<=19 && i>=16">
              <ng-container *ngIf="sensor.pressure <= 145"><div style="background-color:#00FF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 146 && sensor.pressure <= 292"><div style="background-color:#55FF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 293 && sensor.pressure <= 438"><div style="background-color:#AAFF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 439 && sensor.pressure <= 584"><div style="background-color:#FFFF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 585 && sensor.pressure <= 730"><div style="background-color:#FFAA00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 731 && sensor.pressure <= 871"><div style="background-color:#FF5500"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 872"><div style="background-color:#FF0000"><p>{{sensor.pressure}}</div></ng-container>
            </ion-col>
        </ng-container>
      </ion-row>
      <ion-row>
        <ng-container *ngFor="let sensor of sensorList$ | async; let i=index;">
            <ion-col col-3 *ngIf="i<=23 && i>=20">
              <ng-container *ngIf="sensor.pressure <= 145"><div style="background-color:#00FF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 146 && sensor.pressure <= 292"><div style="background-color:#55FF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 293 && sensor.pressure <= 438"><div style="background-color:#AAFF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 439 && sensor.pressure <= 584"><div style="background-color:#FFFF00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 585 && sensor.pressure <= 730"><div style="background-color:#FFAA00"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 731 && sensor.pressure <= 871"><div style="background-color:#FF5500"><p>{{sensor.pressure}}</div></ng-container>
              <ng-container *ngIf="sensor.pressure >= 872"><div style="background-color:#FF0000"><p>{{sensor.pressure}}</div></ng-container>
            </ion-col>
        </ng-container>
      </ion-row>

      <ng-container *ngIf="(sensorList$ | async)?.length==24">
        <button ion-button block clear (click)="synchronizeStart(profile.key)">Resynchronize</button>
      </ng-container>

      <!-- <ion-row>
        <ng-container *ngFor="let sensor of sensorList$ | async; let i=index;">
          <ion-col col-12>
            <pre>{{ sensor | json}}</pre>
          </ion-col>
        </ng-container>
      </ion-row> -->

    <!-- Container afsluiten van if sensorList$.length!=0 -->
    </ng-container>
  </ion-grid>
</ion-content>

<ion-footer>
    <button ion-button block clear (click)="navigateToRootHomePage()"><ion-icon name="home"></ion-icon></button>
</ion-footer>
