page-scan {
    ion-col div {
        position: relative;
        width: 100%!important;
        padding-top: 100%!important;
    }
    ion-col div p {
        position: absolute;
        top: 15%;
        left: 25%;
        bottom: 0;
        right: 0;
      }
}
