<ion-header>

  <ion-navbar color="primary">
    <ion-title>Profile {{profile.key}}</ion-title>
    <ion-buttons end>
      <button navPush="EditProfilePage" [navParams]="{profile: profile}" ion-button>
        <ion-icon name="brush"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-row>
    <ion-card>
      <ion-item>
        <p>Username: </p>
        <ion-badge margin color="secondary" item-end>{{profile.firstname}} {{profile.lastname}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name="transgender" item-start></ion-icon>
        <p>Gender</p>
        <ion-badge color="secondary" item-end>{{profile.gender}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <p>Birthday</p>
        <ion-badge color="secondary" item-end>{{profile.birthdate}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name="trending-up" item-start></ion-icon>
        <p>Height</p>
        <ion-badge color="secondary" item-end>{{profile.height}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name="man" item-start></ion-icon>
        <p>Weight</p>
        <ion-badge color="secondary" item-end>{{profile.weight}}</ion-badge>
      </ion-item>
      <!-- <ion-item>
        <ion-icon name="body" item-start></ion-icon>
        <p>Ligpositie</p>
        <ion-badge color="secondary" item-end></ion-badge>
      </ion-item> -->
    </ion-card>
  </ion-row>

  <br/>

  <ion-row>
    <ion-col col-12>
      <ng-container *ngIf="(sensorGroups$ | async)?.length==0">
        <h1>
          Dit profiel heeft nog geen scans gemaakt!
        </h1>
        <button ion-button block clear (click)="navigateToScanSetupPage()">Scan Setup</button>
      </ng-container>
    </ion-col>
    <ion-col col-12>
      <ng-container *ngIf="(sensorGroups$ | async)?.length!=0">
        <h2>Scan Individueel Inzien</h2>
        <ion-col>
          <ion-list>
              <button ion-item *ngFor="let scan of sensorArray; let i = index" (click)="onClickSensor(i)"> {{scan.key}}</button>
            </ion-list>
        </ion-col>
      </ng-container>
    </ion-col>
    <ion-col col-12>
      <ng-container *ngIf="(sensorGroups$ | async)?.length!=0">
        <h2>Lijngrafiek Maken Van Scan(s)</h2>
        <ion-item *ngFor="let scan of sensorArray">
          <ion-label>{{scan.key}}</ion-label>
          <ion-checkbox (click)="selectMember(scan)"></ion-checkbox>
        </ion-item>
        <button ion-button block  (click)="genereerGrafiek()">Multi-Line Grafiek</button>
        <button ion-button block  (click)="genereerAvgGrafiek()">Avg-Line Grafiek</button>
      </ng-container>
    </ion-col>
  </ion-row>

  <br/>

  <!-- <ion-row>
    <ng-container *ngIf="(sensorGroups$ | async)?.length!=0">
        <ion-item *ngFor="let scan of sensorArray">
          <ion-label>{{scan.key}}</ion-label>
          <ion-checkbox (click)="selectMember(scan)"></ion-checkbox>
        </ion-item>
        <button ion-button block  (click)="genereerGrafiek()">Multi-Line Grafiek</button>
        <button ion-button block  (click)="genereerAvgGrafiek()">Avg-Line Grafiek</button>
    </ng-container>
  </ion-row> -->


</ion-content>

<ion-footer>
  <button ion-button block clear (click)="navigateToRootHomePage()"><ion-icon name="home"></ion-icon></button>
</ion-footer>
